.sidebar{
    background-color: rgba(50, 50, 50, 0.87);
    width: 70px;
    height: 80vh;
    border-radius: 100px;
    margin-left: 10px;
    translate: 1vw;
    animation-duration: 0.3s;
}

.Icon{
    width: 70px;
    height: 70px;
    transition: all ease 0.3s;
    display: grid;
    border-radius: 100px;
    translate: 0 5vh;
}
.Icon:hover{
    transition: all ease 0.3s;
    background-color: rgb(41, 41, 41);
    border-radius: 100px;
}

.Icon>a{
    display: flex;
    align-items: center;
    justify-self: center;

}
.Icon>a>img{

    width: 40px;
    height: 40px;
}
